@model List<Staff_WebServer.Models.Employee>

@{
    ViewBag.Title = "Список работников";
}

<h2>Список работников</h2>

<table class="table">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Оклад</th>
        <th>Пол</th>
        <th>Должность</th>
        <th>Подразделение</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.FullName</td>
            <td>@emp.Salary</td>
            <td>@emp.Gender</td>
            <td>@emp.Position?.Name</td>
            <td>@emp.Department?.Name</td>
            <td>
                <a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Employee", new { id = emp.Id })">Подробнее</a>
            </td>
        </tr>
    }
    </tbody>
</table>